/* 
    ---------------------------------------------------------------
    Add your name to this file below:
    NAME: Hunter
    ---------------------------------------------------------------
*/


/* Remember, the root element is where you can declare CSS variables */
:root{
    /* Theme colors in CSS variables */
	--lime: #41c84c;
	--mint: #9ee3a4;
	--teal: #41c8b1;
	--tiffany: #9ee3d7;
	--plum: #6e2275;
	--amethyst: #bc41c8;

    /* text and background colors */
    --white: #fff;
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;

    /* Font Stacks */
	--heading-fonts: "Seymour One", Impact, sans-serif;
	--body-fonts: "Lato", Arial, sans-serif;
}

body{
	font-family: var(--body-fonts);
	line-height: 1.5;
	font-size: 1.1rem;
	color: var(--dk-gray);
	margin: 0;
	padding: 0;
}

header{
	padding: 1rem;
	background-color: var(--plum);
	color: var(--white);
	border-bottom: 8px solid var(--teal);
}

h1, h2, h3{
	text-align: center;
	font-family: var(--heading-fonts);
	font-variant: small-caps;
}

h2{
	margin: 0;
	padding: 4px;
	text-decoration: dotted underline var(--teal) 4px;
}

h3{
	margin: 0;
	padding: 4px;
	text-decoration: solid underline var(--mint) 4px;
}

nav{
	margin: 0 auto;
	padding: 0.5rem 0;
}

nav ul{
	list-style-type: none;
	padding-left: 0;
}

nav a{
	display: block;
	margin: 1rem auto;
	padding: 1rem;
	background-color: var(--tiffany);
	color: var(--dk-gray);
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
}

nav a:hover{
    color: var(--dk-gray);
	background-color: var(--teal);
}

main{
	padding: 2rem 1rem;
}

section{
	padding: 1rem;
}

#fonts, #text{
	border-bottom: 4px solid var(--plum);
}

p{
	max-width: 55ch;
	text-indent: 2rem;
	margin: 0 auto;
	padding: 0.5rem;
}

a{
    color: var(--plum);
}

a:hover{
    color: var(--lime);
}

dl, ol, main ul{
	max-width: 55ch;
	margin: 1rem auto;
}

/* ⭐ Pink stars before each term ⭐ */
dt{
	font-weight: bold;
	margin-top: 0.5rem;
}

dt::before{
	content: "★";
	color: var(--amethyst);
	font-size: 1rem;
	margin-right: 6px;
}

footer{
	padding: 1rem;
	background-color: var(--plum);
	color: var(--white);
	text-align: center;
	border-top: 8px solid var(--teal);
}


/* Responsive media query */
@media screen and (min-width: 450px){
	nav{
		width: fit-content;
	}
		
	nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
	}
}
